<xml version="1.0" encoding="utf-8">
<ToUserName>{{to_user_name}}</ToUserName>
<FromUserName>{{from_user_name}}</FromUserName>
<CreateTime>{{create_timestamp}}</CreateTime>
<MsgType>{{message.msg_type.name}}</MsgType>
<ArticleCount>{{count}}</ArticleCount>
<Articles>
{% for item in articles %}
<item>
<Title>{{item.title}}</Title> 
<Description>{{item.description}}</Description>
{% if forloop.first %}
<PicUrl>http://{{request.META.HTTP_HOST}}{{item.pic_thumbnail_album.url}}</PicUrl>
{% else %}
<PicUrl>http://{{request.META.HTTP_HOST}}{{item.pic_thumbnail.url}}</PicUrl>
{% endif%}
<Url>{{item.url}}</Url>
</item>
{% endfor %}
</Articles>
</xml>